@import "src/sass/Colors";
.ModalContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ModalHeader {
  display: flex;
  flex-direction: column;
  .ModalActions {
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
    > a {
      font-size: 24px;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.7;
      }
    }
  }
  .ModalTitle {
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid $secondary;
    font-weight: 700;
  }

}
.ModalContent {
    padding: 15px;
    flex: 1;
}
.FormControl {
  margin-bottom: 10px;
  flex: 1;
  flex-direction: column;
  > label {
    font-size: 13px;
  }
  > input {
    display: flex;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 2px;
    text-indent: 6px;
    width: 100%;
  }
  &.Error{
    color: orangered;
    > span {
      font-size: 12px;
    }
    >input {
      border-color: orangered;
    }
  }
}
.ModalButton {
  border-radius: 0px;
  height: 70px;
  font-size: 24px;
  background: $primary;
  &:hover{
    opacity: 0.7;
  }
  &:active{
    opacity: 0.8;
  }
  &.Disabled{
    opacity: 0.7;
  }
}