@import "src/sass/Colors";

.FormControl {
  margin-bottom: 10px;
  flex: 1;
  flex-direction: column;
  > label {
    font-size: 13px;
  }
  > input {
    display: flex;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 2px;
    text-indent: 6px;
    width: 100%;
  }
  &.Error{
    color: orangered;
    > span {
      font-size: 12px;
    }
    >input {
      border-color: orangered;
    }
  }
}
.ModalButton {
  border-radius: 0px;
  height: 70px;
  font-size: 24px;
  background: $primary;
  &:hover{
    opacity: 0.7;
  }
  &:active{
    opacity: 0.8;
  }
  &.Disabled{
    opacity: 0.7;
  }
}